.contenedor-superior{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 16px;
}
.fotofondo{
    background-image: url(../fotos/banner-ferreteria.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    background-position: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
